_autosave-ESCv4.3.sch
.DS_Store
BOM.csv
DRV8316.sch
DRV8316.sch-bak
ESCv4.3.kicad_pcb-bak
ESCv4.3.pro
ESCv4.3.sch
ESCv4.3.sch-bak
ESCv4.xml
file61E0F90E.sch
file61E0F90E.sch-bak
fp-info-cache
sym-lib-table
T-K41W264477A-W264477ASK40-6sets-BOM_ESCv4.3 --Richard-2021.10.14.xls
ESCv4.3-backups/
parts_shipment_bom.numbers
ProForma_Invoice.pdf
T-K41W264477A-6sets-BOM_ESCv4.3(2022-01-12).xls
T-K41W264477A-6sets-ESCv4.3(2022-01-13).xls
v1_first_attempt.zip
v1/assemby/
v1.zip
ESCv4.3.csv
v1.zip
