_autosave-ESCv4.3.sch
.DS_Store
BOM.csv
DRV8316.sch
DRV8316.sch-bak
ESCv4.3.kicad_pcb-bak
ESCv4.3.pro
ESCv4.3.sch
ESCv4.3.sch-bak
ESCv4.xml
file61E0F90E.sch
file61E0F90E.sch-bak
fp-info-cache
sym-lib-table
T-K41W264477A-W264477ASK40-6sets-BOM_ESCv4.3 --Richard-2021.10.14.xls
ESCv4.3-backups/
